form{
font-size:1.1em;
margin:0 auto;
margin-top: -30px;
border: 1px solid white;
padding: 13px;
width: 90%;
text-align: center;
border-radius: 3px;
margin-bottom: 3px;
}

form > input{
  padding-left: 10px;
  margin-bottom:15px;
  height: 30px;
  color: black;
}

textarea{
  color: black;
  margin-top: 5px;
}

.message-btn{
  background: transparent;
  border: 1px solid white;
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  padding-bottom: 10px;
  box-shadow: 2px 2px black;
}

.contact-item{
  list-style: none;
  font-size: .9em;
  display: inline-block;
  margin-right: 20px;
  padding: 0px;
}

.contact-item > a{
  text-decoration: none;
}

.contact-list{
  margin-top: 5px;
  padding: 0px;
  width: 400px;
  text-align: left;
 margin: 0 auto;
}

.contact-left{
  margin-bottom: 5px;
  width: 100%;
}

.contact-right{
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
}

@media (min-width: 700px){
  form{
    width:600px;
  }
  form > input{
    width: 200px;
  }
  textarea{
    width: 300px;
  }
}