*{
  box-sizing: border-box;
  margin: 0px;
  color: white;
  /* font-family: 'Fira Sans', sans-serif; */
  font-family: 'Raleway', sans-serif;
  /* font-family: Tahoma, Geneva, sans-serif; */
}

main, body{
  min-width:320px;
}

body{
  background-color:rgb(35,37,62);
  max-width: 1400px;
  margin: auto;
}


/* Everything below is for the overlay panel */
.over-panel{
  left: 0px; 
  position: fixed;
  width: 100%;
  height: 550px;
  margin-top: -550px;
  background-color: transparent;
  z-index: -1;
  transition: margin-top 2s, z-index 2s, background-color 2s;
}

.over-panel-text{
  width: 400px;
  margin: auto;
  text-align:center;
  margin-top: 200px;
}

i{
  margin: 0px;
  color: yellow;
  z-index: 6;
}

#panel-btn{
  top: 0px;
  position: relative;
  transition: top 5s;
}
.show-panel{
  z-index: 2;
  background-color: rgba(0,0,0,.8);
  margin-top: 0px;
}
.button-holder{
  width: 30px;
  position: absolute;
  left: 200px;
  margin-top: 5px;
  transform: rotateX(0);
  transition: margin-top 2s, transform 2s;
  background-color:transparent;
  z-index: 5;

}

.button-holder > button{
  background-color: transparent;
  border: none;
}

.move-btn{
  margin-top: 500px;
  transform: rotateX(3.142rad);
}

.welcome-over{
  font-size: 3em;
}

.instructions{
  font-size:1.8em;
}

@media (min-width: 500px){
  .button-holder{
    left: 400px;
  }

  .over-panel-text{
    margin-top: 200px;
    width: 500px;
  }
}

@media (max-width: 500px){
  .button-holder{
    left: 240px;

  }
}


@media (min-width: 999px){
  .button-holder{
    left: 0;
    right: 0; 
    margin-left: auto;
    margin-right: auto;
  }
  .over-panel-text{
    margin-top: 200px;
    width: 600px;
  }

}
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}