footer{
  width: 100%;
  border-top: 1px solid grey;
  height: 200px;
  display: flex;
  padding: 20px;
  justify-content: space-around
}
  /* background-color: red;
} */

.icon{
  width: 100px;
  border-radius: 50%;
  height: 100px;  
  border-bottom: 1px solid white;
}

.icon-name{

  border-top: 2px solid white;
  padding-top: 15px;
  margin-top: 15px;
  text-align: center;
}

.icon-links:hover .icon-name{
  border-top: 2px solid yellow;
}

.portfolio-icon-container{
  text-align: center;
}

.icon-links{
  text-decoration: none;
}

.selected-project .icon-name{
  border-top: 2px solid yellow;
}



@media screen and (max-width: 500px){
  .icon{
    width: 70px;
    height: 70px;  

  }
  
  .icon-name{
    font-size: 14px;
    border-top: 2px solid white;
    padding-top: 15px;
    margin-top: 15px;
    text-align: center;
  }
  .portfolio-icon-container{
    margin: 8px;
  }
}